.city-select
  border-radius: 10px
  box-shadow: 0 0 5px #999
  overflow: hidden
  &__btn
    width: 100%
    height: 30px
    font-family: 'Open Sans Light', 'Open Sans'
    font-style: normal
    font-weight: 300
    font-size: 48px
    line-height: 18px
    color: #fff
    text-align: center
    background: #32850a
    cursor: pointer
    -webkit-touch-callout: none
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    -o-user-select: none
    user-select: none
    &_disable
      color: #b3b3b3
      background: #e6e6e6
      cursor: default
  &__item
    display: block
    padding: 6px 10px 7px
    font-size: 13px
    background: #fff
    border-bottom: 1px solid #d5d5d5
    cursor: pointer
    &:hover
      background: #f2f2f2  
    &_active    
      background: #32850a
      &:hover
        background: #32850a 
  &__container
    width: 100%
    height: 510px
    border-left: 1px solid #d5d5d5
    border-right: 1px solid #d5d5d5    
    overflow: hidden
  &__list
    display: block
    padding: 0
    margin: 0