.export-points
  padding: 0
  margin: 0
  width: 100%
  font-size: 13px
  &__col
    float: left
    width: 17%
    margin: 0 3.75% 0 0
    font-size: 13px
    color: #000
    background: #fff
    box-shadow: 0 0 5px #999
    text-align: center
    overflow: hidden
    &_last
    	margin: 0
  &__top-icon
    height: 38px
    background-color: #fff
    background: url(../img/export-points__icon-top.jpg) center no-repeat
  &__head
    display: table
    width: 101%
    height: 48px
    padding: 0 25px
    margin: 0
    border: 0
    font-size: 16px
    font-family: 'Open Sans Light', 'Open Sans'
    font-style: normal
    font-weight: 300
    font-size: 16px
    color: #fff
    background-color: #cd0506
    &_style_orage
      background-color: #ff7f00
    &_style_green
      background-color: #8cce3a
    &_style_yellow
      color: #000
      background-color: #ffdd03
    .vertical-align
      display: table-cell
      vertical-align: middle
  &__row
    padding: 11px 5px 0
    min-height: 42px
    a
      color: #29750c
      &:hover
        text-decoration: none
  &__work-time
    font-size: 11px
    color: #666
