html
body
  margin: 0
  padding: 0
  background: #fff
  font-family: 'Open Sans', Arial, sans-serif
  font-style: normal
  font-weight: 400

.container
  min-width: 1024px
  max-width: 1200px
  width: 100%

.breadcrumbs
  font-size: 11px
  a
    position: relative
    color: #29750c
    padding: 0 10px 0 0
    background: url(../img/breadcrumbs__arrow.jpg) center right no-repeat
    &:hover
      text-decoration: none
    &::after
      position: absolute
      content: '\00A0\00BB'
      background: #fff

.header
  margin: 0 0 15px 0
  height: 88px
  background: url(../img/header__bg.jpg) bottom repeat-x    

.end-block
  margin: 0 0 20px 0
  padding: 0 0 30px 0
  border-bottom: 1px solid #ccc
  clear: both
  &_terms
    padding: 0

.content__terms
  p
    margin: 0 0 1em 0
    font-size: 13px

.footer
  height: 300px

.contacts
  font-family: 'Open Sans Semibold', 'Open Sans'
  font-style: normal
  font-weight: 600
  font-size: 13px
  color: #666
  span
    font-size: 16px
    color: #29750c

.loading
  width: 100%
  height: 500px
  img
    display: block
    margin: 186px auto