.price
  padding: 0
  margin: 0
  width: 100%
  font-size: 14px
  tr
  td
    border: 2px solid #fff
    border-collapse: collapse
  &__col
    width: 13%
    &_first
      padding: 0 0 0 2.5%
      width: 22%
      text-align: left
  &__head
  &__row-first
  &__row-second
    text-align: center    
  &__head
    height: 40px
    background: #32850a
  &__row-first
    background-color: #e6e6e6
    height: 58px
  &__row-second
    background: #f2f2f2
    height: 58px
