.title
  font-size: 22px
  font-family: 'Open Sans Light', 'Open Sans'
  font-style: normal
  font-weight: 300
  color: #4d4d4d
  &_header
  	margin-bottom: 5px
    font-size: 26px
  &_sidebar  	
    margin-bottom: 20px
    font-size: 20px
  &_price
    margin: 0
    padding-left: 56px
    height: 58px
    line-height: 1.9em
    background: url(../img/title__icons.jpg) 0 0 no-repeat
  &_terms
    margin: 0
    padding-left: 40px
    height: 58px
    line-height: 1.7em
    background: url(../img/title__icons.jpg) 0 -58px no-repeat
  &_export-points
    margin: 0 0 10px 0
    padding-left: 55px
    height: 57px
    line-height: 2em
    background: url(../img/title__icons.jpg) 0 -116px no-repeat
  &_footer
    margin: 0 0 10px 0
    padding-left: 35px
    height: 47px
    line-height: 2em
    background: url(../img/title__icons.jpg) 0 -173px no-repeat
