/* Authors: Sergey Kozyrenko <sirozha_blr@tut.by>, 2014-06-20 */
html,
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.container {
  min-width: 1024px;
  max-width: 1200px;
  width: 100%;
}
.breadcrumbs {
  font-size: 11px;
}
.breadcrumbs a {
  position: relative;
  color: #29750c;
  padding: 0 10px 0 0;
  background: url("../img/breadcrumbs__arrow.jpg") center right no-repeat;
}
.breadcrumbs a:hover {
  text-decoration: none;
}
.breadcrumbs a::after {
  position: absolute;
  content: '\00A0\00BB';
  background: #fff;
}
.header {
  margin: 0 0 15px 0;
  height: 88px;
  background: url("../img/header__bg.jpg") bottom repeat-x;
}
.end-block {
  margin: 0 0 20px 0;
  padding: 0 0 30px 0;
  border-bottom: 1px solid #ccc;
  clear: both;
}
.end-block_terms {
  padding: 0;
}
.content__terms p {
  margin: 0 0 1em 0;
  font-size: 13px;
}
.footer {
  height: 300px;
}
.contacts {
  font-family: 'Open Sans Semibold', 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #666;
}
.contacts span {
  font-size: 16px;
  color: #29750c;
}
.loading {
  width: 100%;
  height: 500px;
}
.loading img {
  display: block;
  margin: 186px auto;
}
.title {
  font-size: 22px;
  font-family: 'Open Sans Light', 'Open Sans';
  font-style: normal;
  font-weight: 300;
  color: #4d4d4d;
}
.title_header margin-bottom: 5px {
  font-size: 26px;
}
.title_sidebar {
  margin-bottom: 20px;
  font-size: 20px;
}
.title_price {
  margin: 0;
  padding-left: 56px;
  height: 58px;
  line-height: 1.9em;
  background: url("../img/title__icons.jpg") 0 0 no-repeat;
}
.title_terms {
  margin: 0;
  padding-left: 40px;
  height: 58px;
  line-height: 1.7em;
  background: url("../img/title__icons.jpg") 0 -58px no-repeat;
}
.title_export-points {
  margin: 0 0 10px 0;
  padding-left: 55px;
  height: 57px;
  line-height: 2em;
  background: url("../img/title__icons.jpg") 0 -116px no-repeat;
}
.title_footer {
  margin: 0 0 10px 0;
  padding-left: 35px;
  height: 47px;
  line-height: 2em;
  background: url("../img/title__icons.jpg") 0 -173px no-repeat;
}
.price {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 14px;
}
.price tr,
.price td {
  border: 2px solid #fff;
  border-collapse: collapse;
}
.price__col {
  width: 13%;
}
.price__col_first {
  padding: 0 0 0 2.5%;
  width: 22%;
  text-align: left;
}
.price__head,
.price__row-first,
.price__row-second {
  text-align: center;
}
.price__head {
  height: 40px;
  background: #32850a;
}
.price__row-first {
  background-color: #e6e6e6;
  height: 58px;
}
.price__row-second {
  background: #f2f2f2;
  height: 58px;
}
.export-points {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 13px;
}
.export-points__col {
  float: left;
  width: 17%;
  margin: 0 3.75% 0 0;
  font-size: 13px;
  color: #000;
  background: #fff;
  -webkit-box-shadow: 0 0 5px #999;
          box-shadow: 0 0 5px #999;
  text-align: center;
  overflow: hidden;
}
.export-points__col_last {
  margin: 0;
}
.export-points__top-icon {
  height: 38px;
  background-color: #fff;
  background: url("../img/export-points__icon-top.jpg") center no-repeat;
}
.export-points__head {
  display: table;
  width: 101%;
  height: 48px;
  padding: 0 25px;
  margin: 0;
  border: 0;
  font-size: 16px;
  font-family: 'Open Sans Light', 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  background-color: #cd0506;
}
.export-points__head_style_orage {
  background-color: #ff7f00;
}
.export-points__head_style_green {
  background-color: #8cce3a;
}
.export-points__head_style_yellow {
  color: #000;
  background-color: #ffdd03;
}
.export-points__head .vertical-align {
  display: table-cell;
  vertical-align: middle;
}
.export-points__row {
  padding: 11px 5px 0;
  min-height: 42px;
}
.export-points__row a {
  color: #29750c;
}
.export-points__row a:hover {
  text-decoration: none;
}
.export-points__work-time {
  font-size: 11px;
  color: #666;
}
.city-select {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 0 5px #999;
          box-shadow: 0 0 5px #999;
  overflow: hidden;
}
.city-select__btn {
  width: 100%;
  height: 30px;
  font-family: 'Open Sans Light', 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  background: #32850a;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
          user-select: none;
}
.city-select__btn_disable {
  color: #b3b3b3;
  background: #e6e6e6;
  cursor: default;
}
.city-select__item {
  display: block;
  padding: 6px 10px 7px;
  font-size: 13px;
  background: #fff;
  border-bottom: 1px solid #d5d5d5;
  cursor: pointer;
}
.city-select__item:hover {
  background: #f2f2f2;
}
.city-select__item_active {
  background: #32850a;
}
.city-select__item_active:hover {
  background: #32850a;
}
.city-select__container {
  width: 100%;
  height: 510px;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  overflow: hidden;
}
.city-select__list {
  display: block;
  padding: 0;
  margin: 0;
}
