.ie7 .export-points__head {
  display: block;
}

.ie7 .export-points__head .vertical-align {
  display: block;
  margin-top: expression((parentNode.offsetHeight.offsetHeight/2)-(parseInt(this.offsetHeight)/2) <0 ? "0" :(parentNode.offsetHeight/2)-(parseInt(this.offsetHeight)/2) +'px');
}
